*{
    margin: 0;
    padding:0;
}
body{
    background-color: #2d2d2d;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.cruds{
    width:80%;
    margin:auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.head{
    text-align: center;
    margin: 10px 0px;
    text-transform: uppercase;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline:none;
    background-color: #161616;
    padding: 10px;
    border-radius: 5px;
    margin: 4px 0px;
    color: #ffffff;
}
input:focus{
    border: 1px solid #000000;
    background-color: #070707;
    transform: scale(1.04);
}
.price input{
  width:20%;
}
#total{
    background-color: #913535;
    padding: 8px;
    border-radius: 4px;  
}
#total::before{
    content: "Total : ";
}
button{
    width: 100%;
    height: 35px;
    border: none;
    outline:none;
    margin:5px 0px;
    background-color: #913535;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #5f0404;
    letter-spacing: 1px;
    height: 35px;
}
.btn_search button{
    width: 40%;
}
.btn_search{
    display: flex;
    justify-content: space-between;
}
table{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px 0px;
}